# Monorepo root gitignore
node_modules/
**/node_modules/

# Environment variables
.env
**/.env
.env*.local

# Production builds
dist/
**/dist/
build/
**/build/

# IDE / System files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
